name: Rust implementations

on:
  push:
    branches: [ "main", "yayakame-wip-rustdev" ]
  pull_request:
    branches: [ "main", "yayakame-wip-rustdev" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --manifest-path=algorithms-and-data-structures-rust/Cargo.toml --verbose
    - name: Run tests
      run: cargo test --manifest-path=algorithms-and-data-structures-rust/Cargo.toml --verbose
